{% extends "base.html" %}
{% block title %}Roba.me | Delitos en un solo clic{% endblock %}
{% block script %}
		<script type="text/javascript" src="/static/js/custom.js"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&language=es" ></script>
{% if coordenada != null %}
		<script type="text/javascript">
			function getGeolocation() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(showPosition);
				}
			}
			function showPosition(position) {
				var lat = parseFloat(document.getElementById("latitude").value + " ");
				var lng = parseFloat(document.getElementById("longitude").value + " ");
				var options = { zoom: 13, center: new google.maps.LatLng(lng, lat), mapTypeId: google.maps.MapTypeId.ROADMAP }
				var map = new google.maps.Map($("#canvas").get(0), options);
				google.maps.event.addListener(map, 'click', function(event) {
				var clickedLocation = new google.maps.LatLng(event.latLng);
					var marker = new google.maps.Marker({
						position: event.latLng, 
						map: map,
						icon: "/static/image/smiley.png"
					});
					document.getElementById("comentarioForm").style.display='block';
					document.getElementById("id_latitud").value=event.latLng.lat();
					document.getElementById("id_longitud").value=event.latLng.lng();
					map.addOverlay(marker);
				});
			}
			function cancelarSaveData(){
				document.getElementById("id_descripcion").value='';
				document.getElementById("id_latitud").value='0';
				document.getElementById("id_longitud").value='0';
				document.getElementById("comentarioForm").style.display='none';
				marker.setVisible(true);
			}
			function imposeMaxLength(Object, MaxLen) {
				return (Object.value.length <= MaxLen);
			}
		</script>
{% else %}
		<script type="text/javascript">
			function initialize() {
			var latlng = new google.maps.LatLng(-34.397, 150.644);
			var myOptions = {
			zoom: 8,
			center: latlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			var map = new google.maps.Map(document.getElementById("canvas"),
			myOptions);
			}
			
		</script>
{% endif %}
{% endblock %}
{% block body %}
	<body onload="initialize()">
	<div style="display: none;">
	{% if coordenada != null %}
		<input type="hidden" id="latitude" value="{{ latitud }}" />
		<input type="hidden" id="longitude" value="{{ longitud }}" />
	{% endif %}
	</div>
{% endblock %}	
{% block info_usuario %}
	{% if isLogin %}
		<div id="info-user">
			<div id="user-name">Linus Torvals
				<a href="#">Cerrar Sesión</a>
			</div>
		</div>
	{% else %}
		<div id="pre-sesion">
			¿Tienes Cuenta?
			<a href="#">Iniciar Sesión</a>
		</div>
		<form action="/login/" method="post">{% csrf_token %}
			{{ loginForm.as_p }}
			<input id="btn-sesion" class="btn-session" type="submit" value="Iniciar Sesión">
		</form>			
	{% endif %}
{% endblock %}
{% block content-left %}
	<ul id="ultimos-robos">

		{% for comentario in comentarios %}
		<li class="robo">
			<span class="head-robo"><span class="fecha-robo">{{comentario.fecha}}</span> a las {{comentario.hora}} en <a class="lugar" href="/mapa/{{comentario.ciudad_latitud}}/{{comentario.ciudad_longitud}}">{{comentario.ciudad}}</a></span>
			<p class="denuncia">{{comentario.descripcion}}</p>
		</li>
		{% endfor %}
	</ul>
	<div id="mas"><span><a href="/mas/"><div id="icon-mas">más</div></a></span></div>
{% endblock %}
{% block content-right %}
<div id="canvas" style="width: 100%; height: 400px;"></div>
<div id="comment">
	<form action="/" method="post" id="comentarioForm" name="comentarioForm">
		<textarea id="id_descripcion" name="descripcion" placeholder="¿Qué ocurrió?" onkeypress="return imposeMaxLength(this, 160);" /></textarea><br/>
		{{asaltoForm.descripcion.errors}}
		<input type='hidden' id='id_latitud' name='latitud' value='0' />
		<input type='hidden' id='id_longitud' name='longitud' value='0' />
		<input type="submit" value="Informar"/>
		<input type="button" value="Cancelar" onclick="cancelarSaveData()"/>
	</form>
</div>
<div id="how-map">
{% if envioValido %}
Para denunciar ubica el lugar en el mapa.
{% else %}
Hubo errores guardando, vuelvelo a intentarlo.
{% endif %}
</div>
{% endblock %}
